#js-notification {
  font-size: xx-large;
  font-weight: 900;
  background-color: tomato;
  color: white;
  text-align: center;
  padding: 0 10px;
}

body {
  height: 83.5vh;
}
#footer {
  position: fixed;
  bottom: 2px;
  text-align: center;
  width: 90%;
  left: 5%;
  right: 5%;
  z-index: 100;
}
#header {
  font-size: 25px;
  padding: 15px;
  font-weight: 900;
  color: tomato;
  text-decoration: underline grey;
}
#dot {
  color: black;
}
#js {
  color: skyblue;
  font-style: italic;
}
#wrapper {
  height: 100%;
}