div{
    border:1px solid black;
}
#header{
    color:blue;
}
#footer{
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 90%;
    left:5%;
    right: 5%;
}
.bold{
    font-weight: 900;
}