body{
    height: 83.5vh;
}
#footer{
    position: fixed;
    bottom: 2px;
    text-align: center;
    width: 90%;
    left:5%;
    right: 5%;
    z-index: 100;
}
#header{
    font-size:25px;
    padding:15px;
    font-weight: 900;
    color: tomato;
    text-decoration: underline grey;
}
#dot{
    color:black;
}
#js{
    color:skyblue;
    font-style: italic;
}
#wrapper{height: 100%;}
#editor{
    height: 100%;
    display: flex;
}

#editor>div:nth-child(1){
    flex-grow:1;
}
#editor>div{
    padding: 5px 15px;
}
#editor>div:nth-child(2){
    min-width:200px;
    border-left:1px solid black;
}